/* Container for each entry */
.content-entry {
  margin-bottom: 1.25rem;
  padding-bottom: 0.938rem;
  border-bottom: 1px solid var(--color-border-light);
  
  &:last-child {
    border-bottom: none;
  }
}

.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.313rem;
  gap: 1rem; // Add gap for spacing
}

.entry-title-group {
  display: flex;
  flex-direction: column;
}

.entry-title {
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  color: var(--color-text-bright);
  margin: 0;
}

.entry-subheader {
  font-family: var(--font-secondary), sans-serif;
  font-size: 1.2rem;
  color: var(--color-text-tertiary);
  margin-top: 0.125rem;
}

.entry-location {
  font-family: var(--font-secondary), sans-serif;
  font-size: 1rem;
  color: var(--color-text-muted);
  font-style: italic;
  margin-right: 15px;
  flex-shrink: 0; // Prevent location from shrinking
}

.entry-url {
  font-family: var(--font-secondary), sans-serif;
  font-size: 0.9rem;
  color: var(--color-link);
  margin-right: 1rem;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color 0.3s ease;
  flex-shrink: 0; // Prevent URL from shrinking
}

.entry-url::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 0.05rem;
  background-color: var(--color-accent);
  transition: width 0.4s ease-in-out;
}

.entry-url:hover::after {
  width: 100%;
}

.entry-url:hover {
  color: var(--color-accent);
}

.entry-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--color-text-muted);
  margin-bottom: 10px;
}

.entry-date {
  font-size: 0.9rem;
  font-style: italic;
  font-family: var(--font-secondary), sans-serif;
}

.entry-details {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin: 0;
}

.entry-details li {
  font-family: var(--font-secondary), sans-serif;
  color: var(--color-text-muted);
  line-height: 1.6;
  margin-bottom: 0.313rem;
}

.entry-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.entry-technologies app-tech-item {
  margin-top: 0.5rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .entry-location {
    display: none;
  }

  .entry-url {
    display: none;
  }

  .entry-title {
    font-size: 1.1rem;
  }

  .entry-subheader {
    font-size: 0.9rem;
  }

  .entry-date {
    font-size: 0.7rem;
  }

  .entry-details {
    font-size: 0.8rem;
  }
}