/* Technologies Section Styling */
.tech-category {
  margin-bottom: 20px;
}

.tech-category h3 {
  font-weight: lighter;
  font-size: 1.4rem;
  color: var(--color-text-bright);
  margin-bottom: 10px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tech-list li {
  font-family: var(--font-secondary), sans-serif;
  font-size: 1rem;
  color: var(--color-text-muted);
  padding: 5px 10px;
  background-color: var(--color-elem-bg);
  border-radius: 8px;
  transition: color 0.1s ease;
}

.tech-list li:hover {
  cursor: pointer;
  color: var(--color-accent);
}

@media screen and (max-width: 768px) {
  .tech-category h3 {
    font-size: 1.1rem;
  }

  .tech-list li {
    font-size: 0.8rem;
  }
}