@import url('shared.css');

body {
    font-family: var(--font-primary), sans-serif;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}