@font-face {
    font-family: 'Alliance No.1';
    src: url('./fonts/AllianceNo1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('./fonts/AllianceNo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('./fonts/AllianceNo2-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('./fonts/FunnelSans-Regular.ttf') format('truetype');
    font-weight: 1 999;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('./fonts/FunnelSans-Italic.ttf') format('truetype');
    font-weight: 1 999;
    font-style: italic;
    font-display: swap;
}

:root {
    --font-title: 'Alliance No.2';
    --font-primary: 'Alliance No.2';
    --font-secondary: 'Alliance No.1';

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Backgrounds and containers */
    --color-body-bg: #1e1e1e;
    --color-container-bg: rgba(42, 42, 42, 0.25);
    --gradient-sidebar: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    --color-header-bg: #38383d;

    /* Text colors */
    --color-text-primary: #e0e0e0;
    --color-text-secondary: #c0c0c0; 
    --color-text-tertiary: #b0b0b0;
    --color-text-muted: #d0d0d0;
    --color-text-bright: #eaeaea;

    /* Accents */
    --color-link: #e4d1a5;
    --color-accent: #FFD166;
    --color-accent-alt: #ffb35c;

    /* Borders */
    --color-border: rgba(224, 224, 224, 0.2);
    --color-border-light: rgba(224, 224, 224, 0.1);

    /* BG Effect */
    --color-particle: rgba(255, 255, 255, 0.1);

    /* Shadows */
    --color-box-shadow: rgba(0, 0, 0, 0.3);
    --color-elem-bg: rgba(255, 255, 255, 0.06);

    /* Icons */
    --filter-logo: invert(0%) brightness(100%);
    --social-icon-filter: invert(100%) brightness(70%);
    --social-icon-hover-filter: invert(100%) brightness(100%);

    /* Scrollbar */
    --color-scrollbar: rgba(136, 136, 136, 0.8);
    --color-scrollbar-bg: rgba(255, 255, 255, 0.1);
    --color-scrollbar-hover: rgba(170, 170, 170, 0.9);
}

.light-mode {
    /* Backgrounds and containers */
    --color-body-bg: #d5d5d5;
    --color-container-bg: rgba(190, 190, 190, 0.25);
    --gradient-sidebar: linear-gradient(45deg, rgba(230, 230, 230, 0.4), rgba(230, 230, 230, 0.7));

    /* Text colors */
    --color-text-primary: #1f1f1f;
    --color-text-secondary: #3f3f3f; 
    --color-text-tertiary: #4f4f4f;
    --color-text-muted: #2f2f2f;
    --color-text-bright: #151515;

    /* Accents */
    --color-link: #976262;
    --color-accent: #a30d0d;
    --color-accent-alt: #f74600;

    /* Borders */
    --color-border: rgba(31, 31, 31, 0.2);
    --color-border-light: rgba(31, 31, 31, 0.1);

    /* BG Effect */
    --color-particle: rgba(0, 0, 0, 0.1);

    /* Shadows */
    --color-box-shadow: rgba(0, 0, 0, 0.15);
    --color-elem-bg: rgba(0, 0, 0, 0.06);

    /* Icons */
    --filter-logo: invert(100%) brightness(87%);
    --social-icon-filter: invert(40%) brightness(100%);
    --social-icon-hover-filter: invert(0%) brightness(0%);

    /* Scrollbar */
    --color-scrollbar: rgba(100, 100, 100, 0.8);
    --color-scrollbar-bg: rgba(0, 0, 0, 0.1);
    --color-scrollbar-hover: rgba(85, 85, 85, 0.9);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: var(--color-scrollbar-bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-hover);
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

* {
    scroll-behavior: smooth;
}

.particle {
    position: absolute;
    background-color: var(--color-particle);
    border-radius: 50%;
    opacity: 0.7;
    animation: particle-float 10s infinite ease-in-out;
}

@keyframes particle-float {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(20vw, -100vh);
    }
}
