.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.particle {
    position: absolute;
    background-color: var(--color-particle);
    border-radius: 50%;
    opacity: 0.7;
    animation: particle-float 10s infinite ease-in-out;
}

@keyframes particle-float {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(20vw, -100vh);
    }
}