:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.5rem;
}

.container {
  display: flex;
  align-items: flex-start;
  width: 80%;
  max-width: 80rem;
  padding: 1.25rem;
  border-radius: .75rem;
  backdrop-filter: blur(5px);
  background: var(--color-container-bg);
  box-shadow: 0 4px 1.25rem var(--color-box-shadow);
  z-index: 10;
  gap: 1.25rem;
}

.content {
  max-height: 82vh;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
}

.content::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-scrollbar-bg);
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-hover);
}

.tech-header {
  font-weight: lighter;
  font-size: 1.4rem;
  color: var(--color-text-bright);
  margin-bottom: 10px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
}

.tech-list app-tech-item {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 700px;
    display: block;
    align-items: normal;
  }
}

@media screen and (max-width: 768px) {
  :host {
    padding: 0;
  }

  .container {
    width: 100%;
    min-width: 300px;
    border-radius: 0;
  }

  .content {
    max-height: none;
    padding: 80px 20px 20px 20px;
  }
}