/* Sidebar Styles */
.sidebar {
  height: 79vh;
  display: flex;
  flex-direction: column;
  width: 15.625rem;
  flex-shrink: 0;
  padding: 1.25rem;
  border-radius: 0.625rem;
  justify-content: space-between;
  background: var(--gradient-sidebar);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar-link {
  color: var(--color-text-primary);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

.sidebar-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 0.05rem;
  background-color: var(--color-text-primary);
  transition: width 0.4s ease-in-out;
}

.sidebar-link:hover::after {
  width: 100%;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
  filter: var(--filter-logo);
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-text-primary);
}

.sidebar-social {
  display: flex;
  align-items: center;
  gap: 0.938rem;
  margin-top: auto;
  padding-top: 1.25rem;
  border-top: 0.063rem solid var(--color-border);
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: var(--social-icon-filter);
  transition: filter 0.3s;
}

.social-icon:hover {
  filter: var(--social-icon-hover-filter);
}

.social-text {
  letter-spacing: 0.03em;
  font-size: 0.9rem;
  color: var(--color-text-muted);
  display: flex;
  align-items: center;
  gap: 0.313rem;
}

.heart-icon {
  width: 0.75rem;
  height: 0.75rem;
  vertical-align: middle;
  filter: invert(28%) sepia(93%) saturate(7234%) hue-rotate(356deg) brightness(94%) contrast(82%);
}

.repo-link {
  font-size: 0.9rem;
  color: var(--color-link);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color 0.3s ease;
}

.repo-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 0.05rem;
  background-color: var(--color-accent);
  transition: width 0.4s ease-in-out;
}

.repo-link:hover::after {
  width: 100%;
}

.repo-link:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 1100px) {
  .sidebar {
    display: none;
  }
}