<aside class="sidebar">
  <div> 
    <a routerLink="/" class="sidebar-logo">
      <img src="img/logo.png" alt="Logo" class="logo">
    </a>
  
    <ul>
      <li><a class="sidebar-link" href="/resume#education">Education</a></li>
      <li><a class="sidebar-link" href="/resume#work-experience">Work Experience</a></li>
      <li><a class="sidebar-link" href="/resume#projects">Projects</a></li>
      <li><a class="sidebar-link" href="/resume#extracurriculars">Extracurriculars</a></li>
      <li><a class="sidebar-link" href="/resume#technologies">Technologies</a></li>
    </ul>
  </div>

  <div class="sidebar-social">
    <a href="https://github.com/etbala" target="_blank">
      <img src="icons/github.svg" alt="GitHub" class="social-icon">
    </a>
    <a href="https://linkedin.com/in/ebalakumar" target="_blank">
      <img src="icons/linkedin.svg" alt="LinkedIn" class="social-icon">
    </a>
    
    <div class="social-text">
      Made with 
      <img src="icons/heart.svg" alt="love" class="heart-icon"> 
      on <a href="https://github.com/etbala/personal-site" target="_blank" class="repo-link">GitHub</a>
    </div>
  </div>
</aside>